# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Ignore traces and memory outputs of the trace
**.trace
**.memory

# Folder of the cairo-vm

cairo-vm/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# VS code configs
.vscode

# Compiled cairo programs
*.json

# python env
cairo-vm-env

# generated trace files
cairo_programs/*.trace
